<template>
  <footer class="page-footer">
    <div class="footer-copyright text-center">© 2018 - {{ year }} Copyright</div>
  </footer>
</template>
<script>
export default {
  computed: {
    year() {
      return new Date().getFullYear()
    }
  }
}
</script>
