<template>
  <div v-if="product">
    <h1>{{ product.title }}</h1>

    <div>
      <b-embed type="iframe"
               :src="url"
      ></b-embed>
    </div>

    <br />
    <p>
      Author: <a :href="product.author_url" target="_blank">{{ product.author_name}}</a>
    </p>
    <like />

  </div>
</template>
<script>
import Like from '@/components/Like/Like.vue'
import { loadVideo } from '@/plugins/helper/video'

export default {
  components: {
    Like
  },

  data() {
    return {
      code: this.$route.params.id,
      product: {}
    }
  },

  async mounted() {
    try {
      this.product = await loadVideo(this.$axios, this.code)
    } catch (e) {
      this.$nuxt.error(e.message)
    }
  },

  computed: {
    url() {
      return `https://www.youtube.com/embed/${this.code}?rel=0`
    },

  }
}
</script>
