<template>
  <section class="container">
    <b-form @submit.prevent="onSubmit">

      <b-form-group
        description="Video title"
        label="Title"
        :invalid-feedback="error.title"
        :state="error.title ? false : null"
      >
        <b-form-input :state="error.title ? false : null" v-model.trim="form.title" @change="error = {}" class="input-title"></b-form-input>
      </b-form-group>

      <b-form-group
        description="Video code"
        label="Code"
        :invalid-feedback="error.code"
        :state="error.title ? false : null"
      >
        <b-form-input :state="error.code ? false : null" v-model.trim="form.code" @change="error = {}" class="input-code"></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="success">Add</b-button>

    </b-form>
  </section>
</template>
<script>
export default {
  data() {
    return {
      form: {
        title: '',
        code: ''
      },
      error: {}
    }
  },

  methods: {
    async onSubmit() {
      this.error = await this.validate(this.form)

      if (!Object.keys(this.error).length) {
        await this.$store.commit('videos/add', {...this.form})
        this.$router.push({name: 'product-id', params: {id: this.form.code}})
      }
    },

    async validate(form) {
      let error = {}
      if (!form.title) {
        error.title = 'Title cannot be empty'
      }
      if (!form.code) {
        error.code = 'Code cannot be empty'
      } else {
        try {
          const url = `https://noembed.com/embed?url=http://www.youtube.com/watch?v=${form.code}`
          const resp = await this.$axios.get(url)
          if (resp.data.error) {
            throw new Error('Unable load video')
          }
        } catch (e) {
          error.code = e.message
        }
      }

      return error
    }
  }
}
</script>
