<template>
  <div>
    <b-row class="mb-3">
      <b-col v-for="item in items" :key="item.code" md="3">
        <video-list-item :item="item" class="mt-3" />
      </b-col>
    </b-row>

    <div class="total-videos center">{{ total }} videos total</div>
  </div>
</template>
<script>
import VideoListItem from './VideoListItem.vue'

export default {
  components: {
    VideoListItem
  },

  props: {
    items: {
      type: Array,
      required: true
    }
  },

  computed: {
    total() {
      return this.items.length
    }
  }
}
</script>
