<template>
  <div>
    <nuxt-link :to="{name: 'product-id', params: {id: item.code}}">
      <video-logo :code="item.code" />
    </nuxt-link>
  </div>
</template>
<script>
import VideoLogo from '@/components/VideoLogo/VideoLogo.vue'

export default {
  components: {
    VideoLogo
  },

  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>
