<template>
  <b-container>
    <app-header />

    <nuxt />

    <app-footer />
  </b-container>
</template>
<script>
import AppHeader from '@/components/Layout/Header.vue'
import AppFooter from '@/components/Layout/Footer.vue'

export default {
  components: {
    AppHeader,
    AppFooter
  },

  async mounted() {
    try {
      const resp = await this.$axios.get('/json/list.json')
      this.$store.commit('videos/setList', resp.data)
    } catch (e) {
      this.$nuxt.error({ message: 'unable load videos' })
    }
  }
}
</script>
