<template>
  <section class="container">
    <video-list :items="videos" />
  </section>
</template>

<script>
import { mapState } from 'vuex'
import VideoList from '@/components/VideoList/VideoList'

export default {
  components: {
    VideoList
  },

  computed: {
    ...mapState({
      videos: state => state.videos.list || []
    })
  }
}
</script>
