<template>
  <div>
    <a @click.prevent="counter--" class="btn btn-info like-down">-</a>
    <span class="counter">{{ counter }}</span>
    <a @click.prevent="add" class="btn btn-info like-up">+</a>
  </div>
</template>
<script>
export default {
  data() {
    return {
      counter: 0
    }
  },
  methods: {
    add() {
      this.counter++
    }
  }
}
</script>
