<template>
  <img :src="uri" class="logo" />
</template>
<script>
import { getLogo } from '@/plugins/helper/video'

export default {
  props: {
    code: {
      type: String,
      required: true
    }
  },

  computed: {
    uri() {
      return getLogo(this.code)
    }
  }
}
</script>
<style scoped>
.logo {
  max-width: 100%;
}
</style>
